$h3-font-size: 1.6rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.4rem;

#body {
    font-size: 1rem;
    img {
      width: 90vw;
      max-width: 590px;
      text-align: center;
    }
  }

  // 文字を改行させる
  div, p {
    word-wrap:break-word;
  }

// Then include the following
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';